@import "../utilities/mixin";
@import "../utilities/variables";

.Home{
    background-image: url("/img/background1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 87.8vh;

    .imgMissHilary{
        @include flex(row, center, center, center);

        .imgMissHilary01{
            width: 30vw;
            height: 65vh;
            margin: 2em 2em;
            border-radius: 50vh;
            object-fit: cover;
            display: block;
            box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.247);
        }
    
        p{
            width: 12vw;
            height: 40vh;
            color:$colorPrimary;
            font-family: $fontTertiary;
            font-weight: 700;
            font-size: 2.5vh;
            text-align: center;  
            margin-right: 0;
            white-space: pre-line;
        }
    
        .shineIcon{
            height: 55vh;
            
            img{
                margin: 0;
                width: 4vw;
                height: 11vh;
                
            }
            
        }
    }
    
    .MisshilaryPhrase{
        position: relative;
        text-align: center;
        p{
            @include flex(column, center, center, center);
            font-family: $fontQuaternary;
            font-size: 3vh;
            text-align: center;
        }
    
        .montesorriFont{
           
            font-family: $fontSecundary;
        }
        
        .icons{
            @include flex(row, end, center, center);
            position: absolute;
            right: 5vw;
            top: 90%;
            transform: translateY(-90%);
    
            img{
                margin-bottom: 0.5em;
                width: 2.5vw;
                
            }
        }
    }

}
