@import "../utilities/mixin";
@import "../utilities/variables";
@import "../utilities/reset";

@media (min-width: 1281px) and (max-width: 1919px) {
    //laptops y escritorios grandes

    .Navbar{
        @include flex(row, space-around, center, center);
        border-bottom: 2px solid #ddd;
        
        text-align: center;
    
        .MissHilary{
            margin-top: 1.5vh;
            font-family: $fontPrimary;
            font-weight: 500;
            font-size: 2.5vh;
    
            #Hilary{
                color: $colorPrimary;
                font-size: 4.5vh;
                font-weight: 500;
            }
        }

        .NavbarCenter{
            @include flex(row, space-around, center, none);
            width: 70%;

                .buttonNavbar{
                    font-family: $fontSecundary;
                    font-size: 2vh;
                    font-weight:600;
                    padding: 5px 10px;
                    margin: 5px;
                    position: relative;
                    cursor: pointer;
            
                &::before{
                        content: "";
                        display: inline-block;
                        background-image: url("/img/iconStar.png");
                        background-size: contain;
                        background-repeat: no-repeat;
                        width: 30px;
                        height: 30px;
                        margin-right: 8px;
                        vertical-align: middle;
            
                }
                    
            }
        }
    
    }

    //Home

    .Home{
        background-image: url("/img/background1.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 87.8vh;
        

        .imgMissHilary{
            @include flex(row, center, center, center);

            .imgMissHilary01{
                width: 35vw;
                height: 58vh;
                margin: 3em 3em;
                border-radius: 50vh;
                object-fit: cover;
                display: block;
                box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.247);
            }
        
            p{
                width: 15vw;
                height: 50vh;
                color:$colorPrimary;
                font-family: $fontTertiary;
                font-weight: 700;
                font-size: 2.5vh;
                text-align: center;  
                margin-right: 0;
                white-space: pre-line;
            }
        
            .shineIcon{
                height: 60vh;
                
                img{
                    margin: 0;
                    width: 5vw;
                    height: 10vh;
                    
                }
                
            }
        }
        
        .MisshilaryPhrase{
            position: relative;
            text-align: center;
            top: 2.5vh;
            p{
                @include flex(column, center, center, center);
                font-family: $fontQuaternary;
                font-size: 2.5vh;
                text-align: center;
                
            }
        
            .montesorriFont{
               
                font-family: $fontSecundary;
            }
            
            .icons{
                @include flex(row, end, center, center);
                position: absolute;
                right: 5vw;
                top: 90%;
                transform: translateY(-40%);
        
                img{
                    margin-bottom: 0.5em;
                    width: 3vw;
                    
                }
            }
        }
    
    }

    //About Me

    .AboutMe{
        @include flex(row, center, center, center);
        margin-left: 8rem;
        margin-top: 1rem;
        gap: 1rem;
        min-height: calc(100vh - 15rem);
    
        .AboutMeImages{
            position: relative;
    
            div{
                position: relative;
                z-index: 1;
    
                img{
                    width: 30vw;
                    height: 50vh;
                    object-fit: cover;
                    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.247);
                }
    
            }
    
            .backgroundImage{
                position: absolute;
                top: 28%;
                left: -18%;
                width: 25vw;
                height: 42vh;
                transform: rotateY(-50%);
                z-index: 0;
                box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.247);
            }
            
        }
        
    
        .AboutMeTwo{
            @include flex(column, center, center, center); 

            .AboutMeTitle{
                @include flex(row, center, center, center);
                margin-right: 3rem;

                h1{
                    text-align: center;
                    font-family: $fontSecundary;
                    font-size: 5vh;
                    font-weight: 300;
                    margin-bottom: 1rem;
                    margin-left: 17rem;
                    margin-top: 2rem;
                }
    
                img{
                    width: 12vh;
                }
    
            }
    
            .AboutMeArrows{
                @include flex(row, space-around, center, center);
                margin-left: 5rem;
                margin-bottom: 0.5rem;
                img{
                    margin: 0rem 4rem 1rem 6rem;
                    width: 5vw;
                }
            }
           
            .AboutMeThree{
                @include grid(repeat(2, 45%), end, center, start, 20px);
                margin-left: 1rem;
                
                .AboutMeText{
                    
                    
                    div{
    
                        div{
                            
                            img{
                                width: 30vw;
                                height: 20vh;
                               
                            }
                        }
                        
                        
                        p{
                            
                            font-size: 1.9vh;
                            width: 30vw;
                            height: 45vh;
                            font-family: $fontQuinary;
                            font-weight: 500;
                            text-align: justify;
                            margin: 0;
                        }
                    }
                    
        
                }
                
                .AboutMeSkills{
                    @include flex(column, center, center, center);
                    width: 25vw;
                    height: 30vh;
                    margin: 1rem;

                    div{
                       
                        .AboutMeSkillsImage{
                            width: 10vw;
                            height: 4vh;
                        
                        }
                    }
        
                    .AboutMeSkillsTwo{
                        @include flex(column, center, center, center);
    
                        .AboutMeSkillsThree{
                            @include flex(row, center, center, center);
                        
                            img{
                                width: 5.4vw;
                                
                            }
    
                            h3{
                                
                                margin-top: 2rem;
                            }
    
                        }
                    }
                }
    
            }
    
        }
    
        
    }

    //Resources
    .Resources{
        @include flex(column, center, center, center);
        margin: 5rem;
    
        .tituleResources{
            @include flex(row, center, center, center);
            font-family: $fontSecundary;
            margin: 2rem;
    
            h1{
                font-size: 5vh;
            }

            img{
                margin: 0;
                width: 5vw;
                
            }
            
        }
    
        .pdfResources{
            @include flex(row, center, center, center);
    
            .imgResources{
                @include flex(column, center, center, center);
                text-align: center;
                margin: 0 1rem;
                
                img{
                    margin: 4rem 6rem 2.5rem 6rem;
                    width: 7vw;
                }
                    
    
                button{  
                    border-radius: 10vh;
                    width: 50%;
                    color: black;
                    font-family: $fontTertiary;
                    text-align: center;
                    font-weight: 400;
                    font-size: 2.5vh;
                    position: relative;
                    background-color: white;
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.247);
                }
            }
    
            .ResourcesBackground{
                position: absolute;
                bottom: 32.5vh;
                left: 0;
                right: 0;
                height: 15vh;
                z-index: -1;
                background-color: #e8e3de;
                
            }
        }
        
    }
    
    .ResourcesBackgrounds{
        background-size: cover;
        background-position: center;
        height: 100vh;
    
        .CardResourcesContent{
            @include flex(column, center, center, flex-start);
            height: 100vh;
    
            .CardResourcesTitle{
                @include flex(row, flex-start, center, end);
                font-family: $fontTertiary;
                position: absolute;
                top: 29vh;
                left: 3vw;
                border-radius: 10vh;
                z-index: 1;
                padding: 1.5vh;
                background-color: white;
        
                h1{
                    text-align: left;
                }
            }
    
            .CategoryResources{
                @include grid(repeat(3, 21vh), center, center, center, 20px);
                margin-top: 2rem;
                margin-left: 3rem;
        
                .CardResources{
                    @include flex(column, center, center, center);
                    width: 15vw;
                    margin: 0.5rem;
                    border-radius: 10vh;
                    padding: 2vh;
                    background-color: #e6c9a7;
        
                    p{
                        width: 14vw;
                        text-align: center;
                    }
            
                    img{
                        width: 5.8vw;
                        
                    }
            
                    button{
                        color: white;
                        padding: 0.3rem;
                        border-radius: 50vh;
                        width: 8vw;
                        background-color: #db8e6d;
                        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.247);
    
                        &:hover{
    
                            background-color: #eb7c4c; 
                        }
                    }
                }
            }
            
        }
    }

    //Services
    
    .Services{
        @include flex(column, center, center, center);
        margin: 5rem;

        .tituleServices{
            @include flex(row, center, center, center);
            font-family: $fontSecundary;
            margin-bottom: 3rem;
            
            h1{
                font-size: 5vh;
                text-align: center;
                margin-left: 3vw;
                margin-bottom: 5vh;
            }

            img{
                margin: 0;
                width: 6vw;
                margin-bottom: 5vh;
            }
            
        }

        .ServicesTwo{
            @include flex(row, center, center, center);

            .ImgServices{
                @include flex(column, center, center, center);
                text-align: center;
                margin: 0 1.5rem;
                
                img{
                    width: 28vw;
                    height: 32vh;
                    border-radius: 5vh;
                    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.247);
                }
                    

                button{  
                    
                    border-radius: 10vh;
                    width: 19vw;
                    height: 5vh;
                    color: black;
                    font-family: $fontTertiary;
                    text-align: center;
                    font-weight: 400;
                    font-size: 2.5vh;
                    position: relative;
                    background-color: white;
                    margin-top: 1rem;
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.247);
                }
            }
            
            .ServicesBackground{
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 40vh;
                z-index: -1;
                background-color: #e8e3de;
            }

        }
        
    }

    .CardServices{
        @include flex(row, center, center, center);
        margin: 2rem 2rem 0rem 2rem;
    
        .CardServicesTwo{
    
            div{
                position: relative;
                z-index: 1;
                bottom: 20vh;
    
                .CardServicesImg{
                    position: absolute;
                    width: 38vw;
                    height: 45vh;
                    object-fit: cover;
                    z-index: 1;
                    right: -25vh;
                    top: -4vh;
                    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.247);
                }
            }
            
    
            .CardServicesImgTwo{
                position: absolute;
                width: 46vw;
                height: 43.5vh;
                left: 0vw;
                bottom: 0.5;
                z-index: 0;
                
            }
        }
    
        .CardServicesThree{
            @include flex(column, center, center, center);
            margin: 3rem;
            position: relative;
            z-index: 0;
            left: 30vh;
            top: 4vh;
    
            h1{
                
                border: 1px solid black;
                padding: 3vh;
                border-radius: 5vh;
                font-family: $fontTertiary;
                font-size: 4vh;
                font-weight: 600;
                margin-bottom: 2.3rem;
            }
    
            p{
                
                font-family: $fontQuinary;
                width: 40vw;
                text-align: center;
                font-size: 2.5vh;
                font-weight: 500;
                white-space: pre-line;
            }
    
            button{
                
                margin-top: 1.2rem;
                img{
                    width: 6vw;
                    
                }
            }
        }
        
    }
    
    .sectionEmptyService{
        @include flex(row, center, center, center);
        height: 100%;
        margin: 0;
        background-color: #f8f9fa;
        text-align: center;
        height: 100vh;
    
            .EmptyService{
                width: 100%;
                max-width: 400px;
                margin: 20px;
                padding: 20px;
                background-color: #e6c9a7;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
                border-radius: 8px;
                text-align: center;
    
                    button{
                        margin-top: 1rem;
                        border: var(--bs-btn-border-width) solid #f8f9fa;
                        color: white;
                        background-color:#db8e6d;
                        border-radius: 25px;
                        padding: 10px 30px 10px 30px;
                        
                        &:hover{
    
                            background-color: #eb7c4c; 
                        }
                    }
            }
    
    }

    
}

//Estilos para tablets grandes y laptops pequeñas

@media (min-width: 1025px) and (max-width:1280px) {

    //Navbar
    
    .Navbar{
        @include flex(row, space-around, center, center);
        border-bottom: 2px solid #ddd;
        
        text-align: center;
    
        .MissHilary{
            margin-top: 1.5vh;
            font-family: $fontPrimary;
            font-weight: 500;
            font-size: 2.5vh;
    
            #Hilary{
                color: $colorPrimary;
                font-size: 4.5vh;
                font-weight: 500;
            }
        }

        .NavbarCenter{
            @include flex(row, space-around, center, none);
            width: 80%;

                .buttonNavbar{
                    font-family: $fontSecundary;
                    font-size: 2vh;
                    font-weight:600;
                    padding: 5px 10px;
                    margin: 5px;
                    position: relative;
                    cursor: pointer;
            
                &::before{
                        content: "";
                        display: inline-block;
                        background-image: url("/img/iconStar.png");
                        background-size: contain;
                        background-repeat: no-repeat;
                        width: 30px;
                        height: 30px;
                        margin-right: 8px;
                        vertical-align: middle;
            
                }
                    
            }
        }
    
    }

     //Home

     .Home{
        background-image: url("/img/background1.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 89vh;
        

        .imgMissHilary{
            @include flex(row, center, center, center);

            .imgMissHilary01{
                width: 44vw;
                height: 58vh;
                margin: 3em 3em;
                border-radius: 50vh;
                object-fit: cover;
                display: block;
                box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.247);
            }
        
            p{
                width: 19vw;
                height: 50vh;
                color:$colorPrimary;
                font-family: $fontTertiary;
                font-weight: 700;
                font-size: 2.5vh;
                text-align: center;  
                margin-right: 0;
                white-space: pre-line;
            }
        
            .shineIcon{
                height: 60vh;
                
                img{
                    margin: 0;
                    width: 7vw;
                    height: 10vh;
                    
                }
                
            }
        }
        
        .MisshilaryPhrase{
            position: relative;
            text-align: center;
            top: 2vh;
            p{
                @include flex(column, center, center, center);
                font-family: $fontQuaternary;
                font-size: 2.5vh;
                text-align: center;
                
            }
        
            .montesorriFont{
               
                font-family: $fontSecundary;
            }
            
            .icons{
                @include flex(row, end, center, center);
                position: absolute;
                right: 5vw;
                top: 90%;
                transform: translateY(-40%);
        
                img{
                    margin-bottom: 0.5em;
                    width: 3.5vw;
                    
                }
            }
        }
    
    }

     //Home

    .Home{
        background-image: url("/img/background1.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 87.8vh;
        

        .imgMissHilary{
            @include flex(row, center, center, center);

            .imgMissHilary01{
                width: 35vw;
                height: 58vh;
                margin: 3em 3em;
                border-radius: 50vh;
                object-fit: cover;
                display: block;
                box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.247);
            }
        
            p{
                width: 15vw;
                height: 50vh;
                color:$colorPrimary;
                font-family: $fontTertiary;
                font-weight: 700;
                font-size: 2.5vh;
                text-align: center;  
                margin-right: 0;
                white-space: pre-line;
            }
        
            .shineIcon{
                height: 60vh;
                
                img{
                    margin: 0;
                    width: 5vw;
                    height: 10vh;
                    
                }
                
            }
        }
        
        .MisshilaryPhrase{
            position: relative;
            text-align: center;
            top: 2.5vh;
            p{
                @include flex(column, center, center, center);
                font-family: $fontQuaternary;
                font-size: 2.5vh;
                text-align: center;
                
            }
        
            .montesorriFont{
               
                font-family: $fontSecundary;
            }
            
            .icons{
                @include flex(row, end, center, center);
                position: absolute;
                right: 5vw;
                top: 90%;
                transform: translateY(-40%);
        
                img{
                    margin-bottom: 0.5em;
                    width: 3vw;
                    
                }
            }
        }
    
    }

    //About Me

    .AboutMe{
        @include flex(row, center, center, center);
        margin-left: 8rem;
        margin-top: 1rem;
        gap: 1rem;
        min-height: calc(100vh - 15rem);
    
        .AboutMeImages{
            position: relative;
    
            div{
                position: relative;
                z-index: 1;
    
                img{
                    width: 30vw;
                    height: 50vh;
                    object-fit: cover;
                    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.247);
                }
    
            }
    
            .backgroundImage{
                position: absolute;
                top: 28%;
                left: -18%;
                width: 25vw;
                height: 42vh;
                transform: rotateY(-50%);
                z-index: 0;
                box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.247);
            }
            
        }
        
    
        .AboutMeTwo{
            @include flex(column, center, center, center); 

            .AboutMeTitle{
                @include flex(row, center, center, center);
                margin-right: 3rem;

                h1{
                    width: 31vw;
                    text-align: center;
                    font-family: $fontSecundary;
                    font-size: 5vh;
                    font-weight: 300;
                    margin-bottom: 1rem;
                    margin-left: 16rem;
                    margin-top: 2rem;
                }
    
                img{
                    width: 12vh;
                }
    
            }
    
            .AboutMeArrows{
                @include flex(row, space-around, center, center);
                margin-left: 5rem;
                margin-bottom: 0.5rem;

                img{
                    margin: 0rem 4rem 1rem 6rem;
                    width: 5vw;
                }
            }
           
            .AboutMeThree{
                @include grid(repeat(2, 45%), end, center, start, 20px);
                margin: 0;

                .AboutMeText{
                    
                    
                    div{
    
                        div{
                            
                            img{
                                width: 30vw;
                                height: 20vh;
                               
                            }
                        }
                        
                        
                        p{
                            
                            font-size: 1.8vh;
                            width: 35vw;
                            height: 45vh;
                            font-family: $fontQuinary;
                            font-weight: 500;
                            text-align: justify;
                            margin: 0;
                        }
                    }
                    
        
                }
                
                .AboutMeSkills{
                    @include flex(column, center, center, center);
                    width: 19vw;
                    height: 30vh;
                    margin: 1rem;

                    div{
                       
                        .AboutMeSkillsImage{
                            width: 10vw;
                            height: 4vh;
                        
                        }
                    }
        
                    .AboutMeSkillsTwo{
                        @include flex(column, center, center, center);
    
                        .AboutMeSkillsThree{
                            @include flex(row, center, center, center);
                        
                            img{
                                width: 5.4vw;
                                
                            }
    
                            h3{
                                
                                margin-top: 2rem;
                            }
    
                        }
                    }
                }
    
            }
    
        }
    
    }

    
     //Resources
     .Resources{
        @include flex(column, center, center, center);
        margin: 5rem;
    
        .tituleResources{
            @include flex(row, center, center, center);
            font-family: $fontSecundary;
            margin: 2rem;
    
            h1{
                font-size: 5vh;
                width: 85vw;
                text-align: center;
            }

            img{
                margin: 0;
                width: 7vw;
                
            }
            
        }
    
        .pdfResources{
            @include flex(row, center, center, center);
    
            .imgResources{
                @include flex(column, center, center, center);
                text-align: center;
                margin: 0 1rem;
                
                img{
                    margin: 4rem 6rem 2.5rem 6rem;
                    width: 8.5vw;
                }
                    
    
                button{  
                    border-radius: 10vh;
                    width: 55%;
                    color: black;
                    font-family: $fontTertiary;
                    text-align: center;
                    font-weight: 400;
                    font-size: 2.5vh;
                    position: relative;
                    background-color: white;
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.247);
                }
            }
    
            .ResourcesBackground{
                position: absolute;
                bottom: 32.5vh;
                left: 0;
                right: 0;
                height: 15vh;
                z-index: -1;
                background-color: #e8e3de;
                
            }
        }
        
    }
    
    .ResourcesBackgrounds{
        background-size: cover;
        background-position: center;
        height: 100vh;
    
        .CardResourcesContent{
            @include flex(column, center, center, flex-start);
            height: 100vh;
    
            .CardResourcesTitle{
                @include flex(row, flex-start, center, end);
                font-family: $fontTertiary;
                position: absolute;
                top: 29vh;
                left: 3vw;
                border-radius: 10vh;
                z-index: 1;
                padding: 1.5vh;
                background-color: white;
        
                h1{
                    text-align: left;
                }
            }
    
            .CategoryResources{
                @include grid(repeat(3, 21vh), center, center, center, 20px);
                margin-top: 2rem;
                margin-left: 3rem;
        
                .CardResources{
                    @include flex(column, center, center, center);
                    width: 18vw;
                    margin: 0.5rem;
                    border-radius: 10vh;
                    padding: 2vh;
                    background-color: #e6c9a7;
        
                    p{
                        width: 18vw;
                        text-align: center;
                    }
            
                    img{
                        width: 6.5vw;
                        
                    }
            
                    button{
                        color: white;
                        padding: 0.3rem;
                        border-radius: 50vh;
                        width: 10vw;
                        background-color: #db8e6d;
                        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.247);
    
                        &:hover{
    
                            background-color: #eb7c4c; 
                        }
                    }
                }
            }
            
        }
    }

    //Services
    
    .Services{
        @include flex(column, center, center, center);
        margin: 5rem;

        .tituleServices{
            @include flex(row, center, center, center);
            font-family: $fontSecundary;
            margin-bottom: 3rem;
            
            h1{
                font-size: 5vh;
                text-align: center;
                margin-left: 3vw;
                margin-bottom: 5vh;
            }

            img{
                margin: 0;
                width: 7vw;
                margin-bottom: 5vh;
            }
            
        }

        .ServicesTwo{
            @include flex(row, center, center, center);

            .ImgServices{
                @include flex(column, center, center, center);
                text-align: center;
                margin: 0 1rem;
                
                img{
                    width: 30vw;
                    height: 28vh;
                    border-radius: 5vh;
                    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.247);
                }
                    

                button{  
                    
                    border-radius: 10vh;
                    width: 23vw;
                    height: 5vh;
                    color: black;
                    font-family: $fontTertiary;
                    text-align: center;
                    font-weight: 400;
                    font-size: 2.5vh;
                    position: relative;
                    background-color: white;
                    margin-top: 1rem;
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.247);
                }
            }
            
            .ServicesBackground{
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 40vh;
                z-index: -1;
                background-color: #e8e3de;
            }

        }
        
    }

    .CardServices{
        @include flex(row, center, center, center);
        margin: 2rem 2rem 0rem 2rem;
    
        .CardServicesTwo{
    
            div{
                position: relative;
                z-index: 1;
                bottom: 20vh;
    
                .CardServicesImg{
                    position: absolute;
                    width: 43vw;
                    height: 45vh;
                    object-fit: cover;
                    z-index: 1;
                    right: -22vh;
                    top: 2vh;
                    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.247);
                }
            }
            
    
            .CardServicesImgTwo{
                position: absolute;
                width: 50vw;
                height: 45.5vh;
                left: 0vw;
                bottom: 0vh;
                z-index: 0;
                top: 54vh;
            }
        }
    
        .CardServicesThree{
            @include flex(column, center, center, center);
            margin: 0;
            position: relative;
            z-index: 0;
            left: 30vh;
            top: 8vh;
    
            h1{
                
                border: 1px solid black;
                padding: 3vh;
                border-radius: 5vh;
                font-family: $fontTertiary;
                font-size: 4vh;
                font-weight: 600;
                margin-bottom: 2.3rem;
            }
    
            p{
                
                font-family: $fontQuinary;
                width: 45vw;
                text-align: center;
                font-size: 2.5vh;
                font-weight: 500;
                white-space: pre-line;
            }
    
            button{
                
                
                img{
                    width: 7vw;
                    
                }
            }
        }
        
    }
    
    .sectionEmptyService{
        @include flex(row, center, center, center);
        height: 100%;
        margin: 0;
        background-color: #f8f9fa;
        text-align: center;
        height: 100vh;
    
            .EmptyService{
                width: 100%;
                max-width: 400px;
                margin: 20px;
                padding: 20px;
                background-color: #e6c9a7;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
                border-radius: 8px;
                text-align: center;
    
                    button{
                        margin-top: 1rem;
                        border: var(--bs-btn-border-width) solid #f8f9fa;
                        color: white;
                        background-color:#db8e6d;
                        border-radius: 25px;
                        padding: 10px 30px 10px 30px;
                        
                        &:hover{
    
                            background-color: #eb7c4c; 
                        }
                    }
            }
    
    }
}