//fuentes

$fontPrimary: "Great Vibes", cursive;
$fontSecundary: "Cormorant SC", serif;
$fontTertiary: "Montserrat", sans-serif;
$fontQuaternary: "Satisfy", cursive;
$fontQuinary: "Libre Caslon Display", serif;

//colors
$colorPrimary: #975c43 ;
